manifest {
  name = 'dfornika/simulate-genomes'
  version = '0.1.0'
  description = 'Simulate Genomes'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  author = 'Dan Fornika'
}

params {
  profile = false
  cache = ''
  min_snps = 0
  max_snps = 1000
  min_cnvs = 0
  max_cnvs = 100
  min_indels = 0
  max_indels = 1000
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {

}

